/* This file should be in a folder called `css` */

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
* {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-align:left;
}

body {
  margin-top: 100px;
  color: white;
}

html {
  background: url(https://gfycat.com/ifr/FelineGlisteningBarracuda) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 24px;
  border: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}
h2 {
  font-size: 32px;
  border: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}
#botones1 {


}


#clock {
  font-size: 100px;
}

#wrapper {
  background: rgba(255, 163, 26, 0.5)
}

#leftcol {
  display: inline-block;
  vertical-align: top;
  max-width: 250px;
  padding: 20px;
  padding-left: 30px;
}

#bottomDiv {
  padding-bottom: 40px;
  padding-left: 30px;
}

#rightcol {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

input {
  border: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  display: block;
  float: left;
  background-color: #ffd699;
}

.button1 {
  border: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  text-align: center;
  margin: 0;
  height: 100%;
  outline: none;
  display: block;
  float: left;
  background-color: #ffc266;
}
.button2 {
  border: none;
  border-width: 0;
  box-shadow: none;
  padding-left: : 5px;
  padding-right: 5px;
  text-align: center;
  margin: 0;
  height: 100%;
  outline: none;
  display: block;
  float: left;
  background-color: #ffc266;
}
.button3 {
  border: none;
  border-width: 0;
  box-shadow: none;
  padding-left: : 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0;
  height: 100%;
  outline: none;
  background-color: #ffc266;
}


select {
  border: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  text-align: center;
  margin: 0;
  height: 100%;
  outline: none;
  display: block;

  line-height: 30px;
}

@-webkit-keyframes argh-my-eyes {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: #ff3300;
  }
  99% {
    background-color: #ff3300;
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes argh-my-eyes {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: #ff3300;
  }
  99% {
    background-color: #ff3300;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes argh-my-eyes {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: #ff3300;
  }
  99% {
    background-color: #ff3300;
  }
  100% {
    background-color: transparent;
  }
}

#blink {
  -webkit-animation: argh-my-eyes 1s infinite;
  -moz-animation: argh-my-eyes 1s infinite;
  animation: argh-my-eyes 1s infinite;
}

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("https://thumbs.gfycat.com/FelineGlisteningBarracuda-mobile.jpg") no-repeat;
  background-size: cover;
}


@media screen and (max-width: 800px) {
  #bgvideo{
    display: none;
  }
  #clock{
    font-size: 18vw;
    max-width: 100%;
  }
  #leftcol{
    max-width: 100%;
  }
  h2 {
font-size: 7vw;
  }
  body {
    margin-top: 20px;
    color: white;
    background-color:#1a8cff;
  }
  * {
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    text-align:left;
  }
  html {
    background: url(https://gfycat.com/ifr/FelineGlisteningBarracuda) no-repeat center center fixed;
    background-size: cover;
  }
}
